
.container{
    max-width: 1135px;
    margin: 20px auto;
    
}

.testFloatingBlock{
    position: relative;
    min-height: 1200px;
}


.divider {
  border: none;
  border-top: 1px solid #47433C;
  margin: 15px 0;
  opacity: 1;
}

