.searchWrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.searchBar {
  display: flex;
  align-items: center;
  background: var(--color-light-bg);
  border: 1px solid #433d35;
  border-radius: 50px;
  padding: 5px 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  position: relative;
  gap: 20px;
}

.searchField {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-width: 100px;
}

.searchField label {
  font-size: 10px;
  font-weight: 600;
  color: var(--color-avatar-bg);
  margin-bottom: 4px;
}

.searchField input {
  border: none;
  background: transparent;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  outline: none;
  color: #433d35;
  cursor: pointer;
  padding: 2px;
}



.searchBtn:hover {
  background: var(--color-light-bg);
}

.divider {
  width: 1px;
  height: 30px;
  background: #ccc;
}

.calendar, .dropdown {
  position: absolute;
  top: 65px;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
  border-radius: 20px;
  padding: 24px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  z-index: 105;
  width: 400px;
  max-width: 90vw;
}
.dropdownGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
.dropdownGrid .option {
  padding: 16px;
  border-radius: 12px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  transition: background 0.2s ease;
  text-align: center;
}
.option {
  padding: 8px;
  cursor: pointer;
  text-align: center;
  transition: background 0.2s;
  
}

.option:hover {
  background: #f0f0f0;
}

.dropdownGrid .option:hover {
  background: #eee;
  cursor: pointer;
}
.searchButton {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #433d35;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.searchButton:hover {
  background: #5a5147;
}

.searchButton i,
.searchButton .material-icons {
  font-size: 18px;
}
