.ff-2{
    font-family: "Nunito Sans", sans-serif;
    
}

.fw-700{
    font-weight: 700;
}


.ownerRow{
    display: flex;
    gap: 20px;
}

.button{
    padding: 10px 25px;
    color: #211E1A;
    border: 1px solid #211E1A;
    border-radius: 16px;
    background-color: #DDDBD7;
    font-weight: 700;
}

.button:hover{
    color: #DDDBD7;
}

.fs-14{
    font-size: 14px;
}

.warn{
    width: 55%;
    margin: 0;
    font-size: 12px;
}