.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 13px;
  color: var(--color-primary-dark);
  border-top: 1px solid var(--color-primary-dark);
  background-color: var(--color-light-bg);
  height: 15px;
  padding-top: 20px;
 width: 100%;
  max-width: 1135px;
  margin: 20px auto;
  margin-bottom: 40px;
}

.footer .left,
.footer .right {
  max-width: 1135px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
 
}

.left, .right {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.left a {
  text-decoration: none;
  color: var(--color-primary-dark);
  opacity: 0.7;
}

.left a:hover {
  opacity: 1;
}

.right span {
  opacity: 0.7;
}

.right i {
  font-size: 18px;
  color: var(--color-primary-dark);
  cursor: pointer;
}

.right i:hover {
  color: var(--color-accent);
}
