
.react-datepicker,

.react-datepicker__day,
.react-datepicker__header,
.react-datepicker__navigation,
.react-datepicker__month {
  font-size: 12px !important;
}

.react-datepicker__current-month{
    font-weight: 700 !important;
}

.react-datepicker__day-name{
    font-size: 14px !important;
}

@media screen and (max-width: 993px){
     .react-datepicker, .react-datepicker__day-name, 
    .react-datepicker__current-month, .react-datepicker__day  {

     font-size: 12px !important; }
}