.calendar-container h4{
    font-size: 20px !important;
    font-weight: 700 !important;
}

.placeholder {
  opacity: 0.6;
  font-size: 0.85rem; /* или 12px */
  font-style: italic;
}

.underline{
    text-decoration: underline;
}

/* .underline-text {
  position: absolute;
  display: inline-block; /* вместо inline 
  font-size: 12px;
  top: 2;
  left: 50px;
}

.underline-text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0; /* теперь можно спокойно поставить 0 
  width: 100%;
  height: 1px;
  background-color: currentColor;
} */

.end-block {
  display: flex;
  justify-content: space-between;
  margin: 20px 30px;
}

