@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Nunito+Sans:wght@400;600&display=swap');

html, body, #root {

  min-height: 100%;
  height: auto;
  
}
:root {
  --color-primary-dark: #211E1A;
  --color-accent: #6F6558;
  --color-avatar-bg: #433D35;
  --color-light-bg: #DDDBD7;

  --font-main: "Nunito Sans", sans-serif;
  --font-headings: "Inknut Antiqua", serif;
}

body {
  margin: 0;
  padding: 0;

  /* font-family: var(--font-main); */
  background-color: var(--color-light-bg);
  color: var(--color-primary-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4 {
  font-family: var(--font-headings);
  color: var(--color-primary-dark);
}


/* p, span, li, input, textarea, button {
  font-family: var(--font-main);
} */
.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-content {
  flex: 1;
  overflow-y: auto;
}

