.filters {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.filter {
  background: #f0f0f0;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.filter:hover {
  background: #ddd;
}

.active {
  background: #FF385C;
  color: white;
}
